/* Blog Styles */

.blog-post {
  max-width: 100%;
}

.blog-post h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
  line-height: 1.2;
}

.blog-date {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 2em;
  font-style: italic;
}

.blog-content h2 {
  font-size: 1.4em;
  margin-top: 2em;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
}

.blog-content p {
  margin-bottom: 1.2em;
  line-height: 1.7;
}

.blog-content ul {
  margin-bottom: 1.2em;
  padding-left: 1.5em;
}

.blog-content li {
  margin-bottom: 0.5em;
  line-height: 1.6;
}

.blog-content code {
  background: #f4f4f4;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: monospace;
  font-size: 0.9em;
}

.blog-content hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2em 0;
}

.blog-nav {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid #eee;
}

.blog-back {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.blog-back:hover {
  text-decoration: underline;
}

/* Blog List */
.blog-list {
  margin-top: 2em;
}

.blog-summary {
  margin-bottom: 2.5em;
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
}

.blog-summary:last-child {
  border-bottom: none;
}

.blog-summary h2 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.blog-summary h2 a {
  color: inherit;
  text-decoration: none;
}

.blog-summary h2 a:hover {
  text-decoration: underline;
}

.blog-summary .blog-date {
  margin-bottom: 0.8em;
}

.blog-summary p {
  line-height: 1.6;
  color: #555;
}
